---
import BaseLayout from '@layouts/BaseLayout.astro';
import Panel from '@components/Panel.astro';
import { SITE_TITLE } from '../../config';
import { getCollection } from 'astro:content';

const title = `Cheat Sheets | ${SITE_TITLE}`;
const cheatSheets = await getCollection('cheat-sheets', ({ data }) => data.isDraft === false);
---

<BaseLayout title={title}>
  <h1 class="text-3xl font-bold md:text-5xl">Cheat Sheets</h1>
  <hr class="mt-4 border-slate-700 md:mt-6" />
  <section class="my-4 grid gap-4 sm:grid-cols-2 md:my-6 lg:grid-cols-3 lg:gap-6">
    {cheatSheets.map((cheatSheet) => <Panel title={cheatSheet.data.type} body={cheatSheet.data.title} target={`/cheat-sheets/${cheatSheet.slug}`} />)}
  </section>
</BaseLayout>
