---
import '../styles/global.css';
import { SITE_DESCRIPTION } from '../config';

export interface Props {
  title: string;
  description?: string;
  socialImage?: string;
}

const { title, description = SITE_DESCRIPTION, socialImage = '/logo.svg' } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Social Media Cards -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(socialImage, Astro.url)} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />
</head>
