---
import BaseLayout from './BaseLayout.astro';
import LargeHeading from '../components/typography/LargeHeading.astro';
import { SITE_TITLE } from '../config';

export interface Props {
  content: {
    publishDate: string;
    title: string;
    description: string;
    heroImage: string;
  };
}

const {
  content: { publishDate, title, description, heroImage },
} = Astro.props;
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description} socialImage={heroImage}>
  <section class="mx-auto mb-12 max-w-blog text-center" data-testid="postSummary">
    <LargeHeading text={title} />
    <time class="mt-2 mb-8 block text-sm text-muted md:text-base">{publishDate}</time>
    <img src={heroImage} alt="Post Hero Image" class="rounded-2xl" />
  </section>
  <article class="prose prose-lg prose-invert max-w-blog prose-h3:text-secondary lg:prose-xl">
    <section data-testid="postContent">
      <slot />
    </section>
  </article>
</BaseLayout>
