---
import BaseLayout from './BaseLayout.astro';
import LargeHeading from '../components/typography/LargeHeading.astro';
import Date from '../components/Date.astro';
import { SITE_TITLE } from '../config';

export interface Props {
  content: {
    publishDate: string;
    title: string;
    description: string;
    heroImage: string;
  };
}

const {
  content: { publishDate, title, description, heroImage },
} = Astro.props;
---

<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description} socialImage={heroImage}>
  <section class="mx-auto mb-12 max-w-blog text-center" data-testid="postSummary">
    <LargeHeading text={title} />
    <div class="mb-8 mt-2">
      <Date date={publishDate} />
    </div>
    <img src={heroImage} alt="Post Hero Image" class="rounded-2xl" />
  </section>
  <article id="post-content" class="max-w-blog">
    <slot />
  </article>
</BaseLayout>
